<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Meal Searcher</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<div id="recipe-modal" class="modal-hidden">
  
  <div class="modal-content">
    <span id="close-button" onclick="closeModal()">&times;</span>
    
    <div id="modal-body">
    </div>

    <button id="add-to-calendar">Add to Calendar</button>
  </div>

</div>
<body>

  <h1>Meal Searcher</h1>

  <input type="text" id="ingredient" placeholder="Search a main ingredient">
  <button onclick="search()">Search</button>

  <div id="results"></div>

  <script>
    async function search() {
      const input = document.getElementById("ingredient").value;

      const res = await fetch(`/search/${input}`)
      
      const data = await res.json()

      renderCards(data)
    }

    function renderCards(data) {
      const results = document.getElementById("results")
      results.innerHTML = ""
      const meals = data.meals

      if (!meals) {
        results.innerHTML = "<p3>No recipes found. Try another ingredient!</p3>";
        return;
      }

      meals.forEach(meal => {
        const name = meal.strMeal
        const image = meal.strMealThumb
        const id = meal.idMeal

        results.innerHTML += `
        <div class="mealCard">
          <img src="${image}" alt="Image not avaliable">
          <h3>${name}</h3>
          <button onclick="openRecipe(${id})">View Recipe</button>
        </div>
        `

      });
    }

    async function openRecipe(id) {
      const res = await fetch(`/recipe/${id}`)
      const data = await res.json()
      console.log(data)
    }
  </script>

</body>
</html>
